@import "tailwindcss";

:root {
  --background: #f7f7f5;
  --text-primary: #232c3d;
  --text-secondary: #f27f0c;
  --primary: #f7f7f5;
  --secondary:#F3EEE9;
}

@theme inline {
  --color-background: var(--background);
  --color-t-primary: var(--text-primary);
  --color-t-secondary: var(--text-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

  .dark {
  --background: #211910;
  --text-primary: #f2f6fa;
  --text-secondary: #f27f0c;
  --primary: #1a140e;
  --secondary: #2b1d10;
  }


body {
  background: var(--background);
  color: var(--t-primary);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}